/*
  This stylesheet defines the default styles
  used by the Feedback form.
*/
.feedback_container {
  padding: 20px;
  margin: 0px auto;
  max-width: 1300px;
}
.page_footer {
  .feedback_container {
    padding: 20px 0;
  }
}
.feedback {
  background-color: #fafafa;
  color: #4a4a4a;
  font-size: 16px;
  max-width: 550px;
  padding: 20px;
  transition: all .25s;
  width: 100%;

  &[data-form-index="2"] {
    display: inline-block;

    .feedback_form {
      display: inline-block;
      padding: 0;

      .form_form_section {
        .form_form_section_header {
          padding: 0;
        }
      }
    }
  }
  &[data-form-index="0"] {
    display: inline-block;
    @include media(max-width 600px) {
      display: block;
    }

    .feedback_form {
      display: inline-block;
      @include media(max-width 600px) {
        display: block;
      }
      padding: 0;

      .form_form_section {
        .form_form_section_header,
        .form_form_section_body,
        .form_form_section_footer {
          display: inline-block;
          @include media(max-width 600px) {
            display: block;
          }
          padding: 0;
        }
        .form_form_section_header,
        .form_form_section_body {
          @include media(max-width 600px) {
            padding-bottom: 20px;
          }
        }
        .form_form_section_footer {
          @include media(max-width 600px) {
            margin-left: 0;
          }
          margin-left: 120px;
        }
      }
    }
  }
  .feedback_form {
    margin: 0px auto;
    max-width: 1300px;

    .form_form_section {
      .form_form_section_body,
      .form_form_section_header {
        padding-bottom: 20px;
      }
      .form_form_section_header,
      .form_form_section_footer {
      }
    }
    .feedback_title {
      color: #4a4a4a;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .feedback_prompt {
      margin: 0 0 10px;
    }
    .form_button[data-form-value="Yes"] {
      margin-right: 20px;
    }
    .form_radio_field_container {
      margin-bottom: 10px;

      .form_radio_field_radio_label {
        font-size: 14px;
        margin-left: 10px;
      }
    }
    .feedback_label {
      display: block;
      width: 100%;
    }
    .feedback_input {
      display: block;
      height: 100px;
      max-width: 100%;
      width: 500px;
    }
  }
}
