<?xml version="1.0" encoding="utf-8"?>
<database>
  <presentation>
    <name>get_started_tab_lesson</name>
    <image>modules/presentation/images/getting_started_tab_lesson/001-get-started-mpn.jpg</image>
    <width>1000px</width>
    <height>500px</height>
    <steps>
      <blankStep>
        <name>1_introduction_to_the_get_started_tab</name>
        <image>modules/presentation/images/getting_started_tab_lesson/001-get-started-mpn.jpg</image>
        <text><![CDATA[
          <p><strong>Introduction to the Get Started tab</strong></p>
          <p>The <em>Get Started</em> tab is the first step in the On-Screen Data Entry process. This is where you will enter the Manufacturer Part Number and Name, as well as indicate whether you are offering a Product or Accessory. The information you enter here will be automatically transferred to subsequent tabs.</p>
        ]]></text>
        <position>floating</position>
        <top>400px</top>
        <left>500px</left>
        <width>0px</width>
        <height>0px</height>
        <previousInputViews/>
      </blankStep>
      <inputStep>
        <name>3_type_a_manufacturer_part_number</name>
        <image>modules/presentation/images/getting_started_tab_lesson/001-get-started-mpn.jpg</image>
        <text><![CDATA[
          <p><strong>Type a Manufacturer Part Number.</strong></p>
          <p><em>Example: HSC0424PP</em></p>
          <p>This field should be entered exactly as provided by the manufacturer, and should not be edited in any way. You can enter up to 40 characters. Type in a Manufacturer Part Number below and hit <strong>Enter</strong>.</p>
        ]]></text>
        <position>top</position>
        <top>232px</top>
        <left>128px</left>
        <width>160px</width>
        <height>21px</height>
        <previousInputViews/>
        <expression><![CDATA[^[a-zA-Z0-9]{1,40}$]]></expression>
        <errorAlert>ERROR: There is a 40 character limit and only alphanumeric characters are allowed.</errorAlert>
      </inputStep>
      <buttonStep>
        <name>5_open_the_drop-down_menu</name>
        <image>modules/presentation/images/getting_started_tab_lesson/001-get-started-mpn.jpg</image>
        <text><![CDATA[
          <p><strong>Open the drop-down menu.</strong></p>
          <p>Click in the text box to reveal the drop-down menu.</p>
        ]]></text>
        <position>top-middle-aligned</position>
        <top>232px</top>
        <left>414px</left>
        <width>147px</width>
        <height>21px</height>
        <previousInputViews>
          <previousInputView>
            <inputStepName>3_type_a_manufacturer_part_number</inputStepName>
            <top>232px</top>
            <left>128px</left>
            <width>160px</width>
            <height>21px</height>
          </previousInputView>
        </previousInputViews>
      </buttonStep>
      <testStep>
        <name>12_test_your_knowledge</name>
        <image>modules/presentation/images/getting_started_tab_lesson/006-all-filled-out.jpg</image>
        <text><![CDATA[
          <p class="red"><strong>Test Your Knowledge</strong></p>
          <p><strong>If you click onto the next tab without saving your information first, your data will be lost.</strong><br/>Select an answer in the window below.</p>
        ]]></text>
        <position>top</position>
        <top>195px</top>
        <left>327px</left>
        <width>330px</width>
        <height>134px</height>
        <previousInputViews/>
        <options>
          <option>
            <label><![CDATA[True]]></label>
            <isCorrect>true</isCorrect>
            <onSelect><![CDATA[Correct!]]></onSelect>
          </option>
          <option>
            <label><![CDATA[False]]></label>
            <isCorrect>false</isCorrect>
            <onSelect><![CDATA[Incorrect!]]></onSelect>
          </option>
        </options>
      </testStep>
    </steps>
  </presentation>
</database>