<div class='template_page search_page'>
  <div id='search_interface' class='search_interface_block'><span class='core_id_block'/></div>
  <div class='template_header'>
    <h2>Advanced Search</h2>
  </div>
  <div class='template_body'>
    <div class='section'>
      <div class='search_form_block'>search_interface</div>
    </div>
    <div class='section'>
      <h2>Search Results</h2>
      <div class='search_results_block'>search_interface</div>
      <div class='search_pagination_block'>search_interface</div>
    </div>
  </div>
</div>
