/* eOffer eMod Online Styles */

$base_theme_path: "../../themes/base";

// Import Fonts
@import "../../themes/base/fonts/opensans";
// Import 
@import "../../themes/base/reset";
// Import General Variables
@import "../../themes/base/general-variables";
// Import Guide Specific Variables
@import "guide-variables";
// Import Bourbon
@import "../../themes/base/lib/bourbon/bourbon";
// Import Neat
@import "../../themes/base/lib/neat/neat";
// Import FontAwesome
@import "../../themes/base/lib/font-awesome/scss/font-awesome";
// Import Mixins
@import "../../themes/base/mixins";
// Import Module Styles
@import "../../themes/base/modules";
// Import Feature Styles
@import "../../themes/base/features";
// Import General Styles
@import "../../themes/base/general-theme"; 

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700); */

/* Hide the FPT Warnings in the eMod Resources section. */
[data-template-id="book_section_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod/emod-resources"] .fptWarning {
  display: none;
}
 
/* Hide/Show the relevant book menus based on the current page ID. */
#sidr {
  // hide menus by default.
  .menu_contents {
    display: none;
  }
  // show the current matching menu.
  .select_active {
    .menu_contents {
      display: block;
    }
  }
}
.feedback {
  border-left: solid 5px $eoffer-orange;
}
.main_toggle {
  $main_toggle_blue: #0990fe;

  border: 1px solid #d2d2d2;
  border-radius: 3px;
  border-top: 9px solid $main_toggle_blue;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 40px 40px;

  .main_toggle_title {
    color: $main_toggle_blue;
    font-size: 18px;
    font-weight: 600;
  }
  .main_toggle_option_header {
    color: #525252;
    font-size: 16px;
    font-weight: 600;
  }
  strong {
    color: #525252;
    font-weight: 600;
  }
  label {
    // align the option labels with the checkboxes.
    strong {
      line-height: 17px;
      margin-left: 10px;
      vertical-align: top;
    }
    // align the label p text with the option labels.
    p {
      margin-top: 0;
      margin-left: 31px;
      // set spacing separating the options.
      margin-bottom: 22px;
    }
  }
  input {
    cursor: pointer;
  }
}

// Hide the overview page from the section menu shown on the Post-Submission of an eMod Overview page.
.book_page[data-template-id="book_page_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod/emod-resources/post-submission-of-an-emod/post-submission-of-an-emod-overview"] {
  li[data-menu-id="book_page_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod/emod-resources/post-submission-of-an-emod/post-submission-of-an-emod-overview"] {
    display: none;
  }
}
