$base_theme_path: "../../themes/base";

// Import Fonts
@import "../../themes/base/fonts/opensans";
// Import 
@import "../../themes/base/reset";
// Import General Variables
@import "../../themes/base/general-variables";
// Import theme variables
@import "variables.scss";
// Import Bourbon
@import "../../themes/base/lib/bourbon/bourbon";
// Import Neat
@import "../../themes/base/lib/neat/neat";
// Import Mixins
@import "../../themes/base/mixins";
// Import Module Styles
@import "../../themes/base/modules";
// Import General Styles
@import "../../themes/base/general-theme"; 

$hero-height: 100vh;

@mixin absoluteCenter($left,$top) {
  left: $left;
  position: absolute;
  top: $top;
}

@mixin centeredContentDims {
  max-width: 900px;
  width: 70%;

  @include media(max-width $small-width) {
    width: 80%;
  }
}

@mixin centeredContent {
  @include centeredContentDims;
  margin: 0 auto;
  padding: 0;
}

@mixin heroDims {
  height: 100vh;
}
#header-content {
  @include centeredContent;
}
.menu-item {
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}
.header-menu-item {
  color: white;
  display: inline-block;
  height: 100%;
  padding: 10px 0;
  text-align: center;
  width: 150px;

  &:first-of-type, &:last-of-type {
    text-align: left;
  }
}
#mobile-menu {
  color: white;
  display: none;
  position: relative;
}
#mobile-menu-header {
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;

  &:hover {
    font-weight: bold;
  }
  &::before {
    background-image: url("images/menu-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    bottom: 2px;
    content: "";
    padding: 13px;
    position: relative;
    right: 10px;
    vertical-align: middle;
  }
}
#mobile-menu-content {
  background-color: $text-gray;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 20;
}
.mobile-menu-item {
  color: white;
  display: block;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}
#hero {
  @include heroDims;
  position: relative;
}
#hero-video-container {
  @include heroDims;
  overflow: hidden;
}
#hero-overlay {
  @include heroDims;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}
#hero-overlay-content {
  @include centeredContentDims;
  @include absoluteCenter(50%,50%);
  color: white;
  height: auto;
  padding-bottom: 25px;
  transform: translateX(-50%) translateY(-50%);

  h1 {
    color: white;
    font-family: freight-display-pro;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: .015em;
    line-height: 1em;
  }
  p {
    color: white;
  }
}
#hero-video-container {
  position: relative;
}
#hero-video {
  @include absoluteCenter(0,0);
  height: 1080px;
}
#intro-video {
  max-width: 100%;
}
#main-content {
  background-color: rgb(250,250,255);
}
.section-start-icon {
  font-size: 40px;
}
.section-content {
  @include centeredContent;
  padding: 25px;

  a {
    color: #2b6fa1;
  }
  .section-header {
    h1 {
      margin: 0 auto;
      max-width: 500px;
      text-align: center;
    }
  }
}
.light-section {
  .section-content {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 2px 0px;
    .section-header {
      h1 {
        border-bottom: 1px solid $text-gray;
      }
    }
  }
}
.section-end-icon {
  font-size: 80px;
  text-align: center;
}
#intro {
  padding-top: 25px;
}
#case-study {
  padding-bottom: 25px;
}
#samples {
  padding-top: 25px;
}
#qed-section {
  padding-bottom: 25px;
}
.eqn-labeled {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  table, tbody, tr {
    width: 100%;
  }
  td.eqn {
  }
  td.eqn-label {
    text-align: right;
  }
}
#portfolio {
  position: relative;
  overflow: hidden;

  #portfolio-parallax-background {
    background-image: url('images/hifive_dev_board.jpg');
    background-size: cover;
    min-height: 1000px;
    position: absolute;
    width: 100%;
  }
  #portfolio-parallax-background-overlay {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .section-content-padding {
    padding: 25px 0;
  }
  .section-content {
    background-color: $text-gray;
    position: relative;
    z-index: 10;

    .accordion {
      .accordion_item {
        h2 {
          color: white;
        }
        .accordion_item_header {
          .accordion_item_header_left,
          .accordion_item_header_middle,
          .accordion_item_header_right {
            color: white;
          }
          &:hover {
            .accordion_item_header_left,
            .accordion_item_header_middle,
            .accordion_item_header_right {
              color: $text-gray;
            }
          }
        }
        .accordion_item_body {
          color: white;
        }
      }
    }
  }
}
.jscoq-main {
  #ide-wrapper {
    height: 700px;
    overflow: hidden;
  }
  #code-wrapper {
    height: 400px;
    overflow-y: scroll;

    #document {
      max-width: 100%;
      padding: 0;
    }
  }
  #panel-wrapper {
    border: none !important;
    height: 270px;
    width: 100%;

    #toolbar {
      height: 50px;
      #buttons {
        display: block;
        margin: 5px auto;
        padding: 0;
        width: 215px;
        button {
          height: 40px;
          width: 40px;
          margin: 10 20;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .exits {
        display: none;
      }
    }
  }
}
#qed {
  font-size: 60px;
  text-align: center;
}
.dark-section {
  background-color: $text-gray;
  color: white;

  h1, p {
    color: white;
  }
  a {
    color: #b1deff;
  }
  h1 {
    border: none;
  }
  .section-content {
    .section-header {
      h1 {
        border-bottom: 1px solid white;
      }
    }
  }
}
.endorsement {
  font-style: italic;
  padding: 0 50px;
  .endorsement-author {
    float: right;
  }
  .clear-float {
    clear: both;
  }
}
.feedback {
  height: 600px;
}
.form_block {
  display: none;
}
#contact {
  .section-body {
    padding-top: 25px;
  }
  .contact-label {
    display: inline-block;
    width: 60px;
  }
  input, textarea {
    color: $text-gray;
  }
  input[type="text"], textarea {
    width: 100%;
  } 
  input[type="radio"] {
    width: 40px;
  }

  .form_form_section_footer {
    margin: 25px 0;
  }
}
@include media(max-width $medium-width) {
  #hero-video {
    transform: translateX(-30%);
  }
}
@include media(max-width $small-width) {
  #header-menu {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  #hero-overlay-content {
    h1 {
      font-size: 50px;
    }
  }
  .section-content {
    width: 95%;
  }
  .eqn-labeled {
    overflow-x: scroll;
  }
  .endorsement {
    padding: 0;
  }
}
