/* General Standard Theme Styles */

$nav_button_width: 160px;
$nav_button_wedge_width: 20px;
$nav_button_shift_width: 20px;
$nav_button_color: $primary-color;
$header_left_width: $nav_button_width + $nav_button_wedge_width + $nav_button_shift_width;
$nav_button_small_screen_width: 105px;

$table_of_contents_header_close_button_width: 15px;
$table_of_contents_header_margin: 20px;

/* External Fonts */
/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);  
@import "https://fonts.googleapis.com/css?family=Open+Sans:300";                                      
@import "https://fonts.googleapis.com/css?family=Open+Sans:400";                                      
@import "https://fonts.googleapis.com/css?family=Open+Sans:600"; 
*/

/* General Elements */

body {
  background-color: $darkest_gray;
  font-family: $default_header_font;
  min-width: 300px;
}

a {
  color: $text-gray;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: $text-gray;
  font-family: $default_header_font;
  font-weight: 400;
  margin: 0px;
  padding: 0.5em 0em;
}
h2{
  font-size: 1.3em;
}
h3{
  font-size: 1.2em;
}
h4{
  font-size: 1.1em;
  font-weight: 600;
  color: $darkest_gray;
}


hr {
  border: 0px;
  border-bottom: 1px solid $medium-gray;
  margin: 0px;
}

img {
  max-width: 100%;
}

div.body ul, div.body ol {
  margin-left: 20px;
}

ul li {  
  list-style-image: url(images/liArrow.png);
}

ol li {
  color: $text-gray;
}

ol li p {
  color: $text_gray;
}

ol, ul {
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

ol.alpha-nested {
  list-style-type: lower-alpha;
}

ul.no-list-style {
  list-style: none;
  list-style-image: none;
  margin: 0px;

  li {
    list-style-image: none;
  }
}

p {
  color: $text_gray;
}

#overlay {
  background-color: white;
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 30000;
}

#overlay > img {
  padding: 10% 0% 0% 50%;
}

#amssLink { 
  background-color: #5C5C5C;
  height: $header_top_height;
  padding-left: 1.2em;
  padding-top: 1px;

  a {
    color: #fff;
    font-size: 80%;

    @include media(max-width 600px) {
      font-size: 12px;
    }
    @include media(max-width 500px) {
      font-size: 10px;
    }
    @include media(max-width 400px) {
      font-size: 8px;
    }

    span {
      font-style:italic;
    }
  }
}

#header {
  width: 100%;

  #header_left {
    @include transition( all 0.2s);
    display: block;
    float: left;
    height: $header_bottom_height;
    min-width: $header_left_width;
    width: 33%;

    #nav_button {
      background-color: $nav_button_color;
      float: left;
      height: 100%;
      width: $nav_button_width;
      @include transition( all 0.2s);

      &:hover {
        width: $nav_button_width + $nav_button_shift_width;
        padding-left: $nav_button_shift_width;
      }

      a {
        background-image: url("images/menuIcon.png");
        background-repeat: no-repeat;
        background-position: 0px 50%;
        padding: 0px 0px 0px 45px;
        margin: 12px 0px 0px 25px;
        display: block;
        z-index: 10000;
        position: relative;
        color: white;
      }
    }

    #nav_button_wedge {
      border-style: solid;
      border-width: $header_bottom_height $nav_button_wedge_width 0px 0px;
      border-color: $nav_button_color transparent transparent transparent;
      float: left;
      height: 100%;
      width: $nav_button_wedge_width;
    }
  }

  #header_middle {
    float: left;
    height: $header_bottom_height;
    text-align: center;
    width: 33%;

    h2 {
      margin: 18px 0px 0px 0px;
      min-width: 315px;
      padding: 0px;

      .menu_title {
        color: $text_gray;
        font-weight: 500;
      }
    }
  }

  #header_right {
    display: block;
    float: right;
    width: 33%;

    .search_link {
      float: right;
      margin: 18px 20px 0px 0px;
    }
  }
}

#sidr {
  background-color: $light_gray;
  padding-bottom: 80px;

  h3 {
    font-size: 1.1em;
    @include navHeader();
  }

  input {
    font-size: 1em;
  }

  hr {
    border-color: $dark_gray;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin: 0px;
  }

  ol {
    margin: 0px;
  }

  li {
    list-style: none;
  }

  #table_of_contents_header {
    @include navHeader ();
    height: 40px;
    padding: 10px $table_of_contents_header_margin;

    #table_of_contents_header_title {
      float: left;
      height: 100%;
      width: $nav_menu_width - (2 * $table_of_contents_header_margin) - (2 * $table_of_contents_header_close_button_width);
      padding-left: 2 * $table_of_contents_header_close_button_width;

      h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
      }
    }

    #table_of_contents_header_close_button {
      background-image: url("images/close-x.png");
      background-size: $table_of_contents_header_close_button_width;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      display: block;
      float: left;
      height: 100%;
      width: $table_of_contents_header_close_button_width;
      @include transition( all 0.2s);
      @include transform-origin(($table_of_contents_header_close_button_width / 2) ($table_of_contents_header_close_button_width / 2));

      &:hover {
        @include transform(rotate(90deg));
      }
    }
  }

  .search_link {
    width: $nav_menu_width - 40px;
    margin: 20px;
  }

  .search_link::-ms-clear {
    display: none;
  }

  .menu_contents_leaf_item[data-menu-level="2"] {
    display: none;
  }

  .menu_label,
  .menu_link {
    font-weight: 400;
    color: $text_gray;
    padding: 2px 10px;
  }

  .menu_link,
  .menu_link[data-menu-level="2"],
  .menu_label[data-menu-level="3"],
  .menu_label[data-menu-level="4"],
  .menu_label[data-menu-level="5"]{
    font-weight: 400;
    font-size: .9em;
  }

  .menu_link[data-menu-level="2"],
  .menu_label[data-menu-level="2"]{
    @include navHeader();
  }

  .menu_link[data-menu-level="3"],
  .menu_label[data-menu-level="3"]{
    @include navItem(40px);
  }

  .menu_node_label[data-menu-level="3"]{
    background: url('images/collapse.png') no-repeat 15px 14px;
    cursor: pointer;
  }

  .menu_link[data-menu-level="3"]:hover,
  .menu_label[data-menu-level="3"]:hover,
  .menu_contents_item.menu_selected_line > .menu_link[data-menu-level="3"] {
    @include navItemHover($primary-color, rgb(255,255,204));
  }

  .menu_contents_item[data-menu-level="3"].menu_collapsed > .menu_node_label {
    background: url('images/expand.png') no-repeat 15px 14px;
  }

  .menu_link[data-menu-level="4"],
  .menu_label[data-menu-level="4"]{
    @include navItem(60px);
    background: url('images/navArrow.png') no-repeat 15px 14px;
  }

  .menu_node_label[data-menu-level="4"]{
    background: url('images/navArrowCollapse.png') no-repeat 15px 14px;
    cursor: pointer;
  }

  .menu_link[data-menu-level="4"]:hover,
  .menu_label[data-menu-level="4"]:hover,
  .menu_contents_item.menu_selected_line > .menu_link[data-menu-level="4"] {
    @include navItemHover($darker-primary, $nav-highlight-1);
  }

  .menu_contents_item[data-menu-level="4"].menu_collapsed > .menu_node_label {
    background: url('images/navArrowExpand.png') no-repeat 15px 14px;
  }

  .menu_link[data-menu-level="5"], 
  .menu_label[data-menu-level="5"]{
    @include navItem(80px);
    background: url('images/navCircle.png') no-repeat 37px 18px;
  }

  .menu_node_label[data-menu-level="5"]{
    background: url('images/navCircleCollapse.png') no-repeat 37px 14px;
    cursor: pointer;
  }

  .menu_link[data-menu-level="5"]:hover,
  .menu_label[data-menu-level="5"]:hover,
  .menu_contents_item.menu_selected_line > .menu_link[data-menu-level="5"] {
    @include navItemHover($darkest-primary, $nav-highlight-2);
  }

  .menu_contents_item[data-menu-level="5"].menu_collapsed > .menu_node_label {
    background: url('images/navCircleExpand.png') no-repeat 37px 14px;
  }

  .menu_link[data-menu-level="6"], 
  .menu_label[data-menu-level="6"]{
    @include navItem(82px);
    background: url('images/navCircleDark.png') no-repeat 60px 18px;
    color: white;
  }

  .menu_link[data-menu-level="6"]:hover,
  .menu_label[data-menu-level="6"]:hover,
  .menu_contents_item.menu_selected_line > .menu_link[data-menu-level="6"] {
    @include navItemHover(rgba(238,153,18,1), rgba(149,132,105,1));
  }

  .menu_contents_item[data-menu-level="2"] > hr {
    display: none;
  }

  .menu_contents[data-menu-level="3"]{
    background-color: $medium_gray;
  }

  .menu_contents[data-menu-level="4"]{
    background-color: $dark_gray;

    hr {
      border-color: $medium_gray;
    }
  }

  .menu_contents[data-menu-level="5"]{
    background-color: rgb(129,129,129);

    hr {
      border-color: $medium_gray;
    }
  }
}

#body {
  background-color: white;
}

.helpCenter {
  font-weight: 200;
  color: $text-gray;
  font-style: italic;
}

.accordion_block {
  display: none;
}

.accordion {
  .accordion_item {
    .accordion_item_body {
      padding: 20px;

      .book_section.template_section[data-template-level="1"] {
        padding: 0px;
      }

      .page_footer {
        display: none;
      }
    }
  }
}

/* Back to Top tab */

#back_to_top {
  background: rgb(247, 247, 247) url("images/scrollTopArrow.png") no-repeat scroll 90% 50%;
  border: 1px solid $text_gray;
  border-bottom: none;
  bottom: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 100;
  padding: 15px 50px 15px 25px;
  position: fixed;
  right: 2%;
  z-index: 1000;

  a {
    color:$darkest_gray;
  }
}

/* Layout Configs */

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Footer Styles */

#footer {
  text-align: center;
}

/* Generic Buttons */

.button {
  @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
  background-color: $primary-color;
  border-radius: 5px;
  color: white;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 0px;
  text-align: center;
}

/* Grid Fix */

.two-column-grid-wide {
  @include outer-container;

  div {
    @include span-columns(6);
    @include media(max-width $small-width){
        @include span-columns(12);
      }
  }

  div:nth-child(even) {
    @include span-columns(6);
    @include omega();
    @include media(max-width $small-width){
        @include span-columns(12);
      }
  }
}

.two-column-grid-narrow {
  @extend .two-column-grid-wide;
  div {
    @include span-columns (4);
    @include shift(2);
    text-align: left;    
    @include media(max-width $small-width){
      @include shift(0);
      @include span-columns(12);
    }
  }
  div:nth-child(even){
    @include shift(0);
    @include span-columns (4);
    text-align: left;
    margin-bottom: 20px;
    @include media(max-width $small-width){
      @include shift(0);
      @include span-columns(12);
    }
  }
}

/* FSS Specific grid */

.functionality-grid {
  @extend .two-column-grid-wide;
  div {
    @include span-columns (4);
    @include shift(2);
    text-align: right;    
    @include media(max-width $small-width){
      text-align: center;
      @include shift(0);
      @include span-columns(12);
    }
  }
  div:nth-child(even){
    @include shift(0);
    @include span-columns (4);
    text-align: left;
    margin-bottom: 20px;
    @include media(max-width $small-width){
      text-align: center;
      @include shift(0);
      @include span-columns(12);
    }
  }
}

table.padded-list {
  tbody {
    tr {
      td {
        vertical-align: top;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

/* Responsive Rules */

@include media(max-width 1100px) {
  .presentation_section {
    display: none;
  }
}

@include media(max-width $medium-width) {
}

@include media(max-width $small-width) {
}

@include media(max-width $extra-small-width) {
  #back_to_top {
    background-position: 50% 50%;
    padding: 25px 25px;

    a {
      display: none;
    }
  }
}
