/* General Standard Theme Styles */

$nav_button_width: 160px;
$nav_button_wedge_width: 20px;
$nav_button_shift_width: 20px;
$nav_button_color: $primary-color;
$header_left_width: $nav_button_width + $nav_button_wedge_width + $nav_button_shift_width;
$nav_button_small_screen_width: 105px;

$table_of_contents_header_close_button_width: 15px;
$table_of_contents_header_margin: 20px;

/* I. General Elements */

body {
  background-color: $darkest_gray;
  font-family: $default_header_font;
  min-width: 300px;
}

a {
  color: $red;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: $red;
  font-family: $default_header_font;
  font-weight: 400;
  margin: 0px;
  padding: 0.5em 0em;
}
 
h4 {
  font-size: 1.4em;
  color: $darkest_gray;
}

hr {
  border: 0px;
  border-bottom: 2px dotted #333;
  margin: 0px;
}

img {
  max-width: 100%;
}

div.body ul, div.body ol {
  margin-left: 20px;
}

ul li {  
  list-style-image: url(images/liArrow.png);
}

ol li {
  color: $red;
}

ol li p {
  color: $text_gray;
}

ol, ul {
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

ol.alpha-nested {
  list-style-type: lower-alpha;
}

ul.no-list-style {
  list-style: none;
  list-style-image: none;
  margin: 0px;

  li {
    list-style-image: none;
  }
}

p {
  color: $text_gray;
}

/* Table Styles */

table {
  border-collapse:separate;
  border-spacing:0px;
  border: 1px solid $primary-color;
}

thead th {text-align:center;
  color:#fff;
  font-weight:700;
  font-size:1em;
  line-height:1.4em;
  margin: 0px auto;
  padding: 10px;
  background:$primary-color;
  font-style:italic;
}

table.complex-thead {
  border-spacing: 1px;
}

td {
  padding: 10px 10px;
}

tr:nth-child(odd) {
    background-color:lighten($primary-color, 40%);
}

tr:nth-child(even) {
    background-color:lighten($primary-color, 32%);
}

#overlay {
  background-color: white;
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 30000;
}

#overlay > img {
  padding: 10% 0% 0% 50%;
}

#header {
  @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
  background-color: white;
  height: $header_height;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20000;

  #header_left {
    @include transition( all 0.2s);
    display: block;
    float: left;
    height: $header_bottom_height;
    min-width: $header_left_width;
    width: 33%;

    #nav_button {
      background-color: $nav_button_color;
      float: left;
      height: 100%;
      width: $nav_button_width;
      @include transition( all 0.2s);

      &:hover {
        width: $nav_button_width + $nav_button_shift_width;
        padding-left: $nav_button_shift_width;
      }

      a {
        background-image: url("images/menuIcon.png");
        background-repeat: no-repeat;
        background-position: 0px 50%;
        padding: 0px 0px 0px 45px;
        margin: 17px 0px 0px 25px;
        display: block;
        z-index: 10000;
        position: relative;
        color: white;
      }
    }

    #nav_button_wedge {
      border-style: solid;
      border-width: $header_bottom_height $nav_button_wedge_width 0px 0px;
      border-color: $nav_button_color transparent transparent transparent;
      float: left;
      height: 100%;
      width: $nav_button_wedge_width;
    }
  }

  #header_middle {
    float: left;
    height: $header_bottom_height;
    text-align: center;
    width: 33%;

    h2 {
      margin: 18px 0px 0px 0px;
      min-width: 315px;
      padding: 0px;

      .menu_title {
        color: $text_gray;
        font-weight: 500;
      }
    }
  }

  #header_right {
    display: block;
    float: right;
    width: 33%;

    .search_link {
      float: right;
      margin: 18px 20px 0px 0px;
    }
  }
}

#header_padding {
  height: $header_height;
}

#sidr {
  background-color: $light_gray;
  padding-bottom: 80px;

  h3 {
    font-size: 1.1em;
    @include navHeader();
  }

  input {
    font-size: 1em;
  }

  hr {
    border-color: $dark_gray;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin: 0px;
  }

  ol {
    margin: 0px;
  }

  li {
    list-style: none;
  }

  #table_of_contents_header {
    @include navHeader ();
    height: 40px;
    padding: 10px $table_of_contents_header_margin;

    #table_of_contents_header_title {
      float: left;
      height: 100%;
      width: $nav_menu_width - (2 * $table_of_contents_header_margin) - (2 * $table_of_contents_header_close_button_width);
      padding-left: 2 * $table_of_contents_header_close_button_width;

      h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
      }
    }

    #table_of_contents_header_close_button {
      background-image: url("images/close-x.png");
      background-size: $table_of_contents_header_close_button_width;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      display: block;
      float: left;
      height: 100%;
      width: $table_of_contents_header_close_button_width;
      @include transition( all 0.2s);
      @include transform-origin(($table_of_contents_header_close_button_width / 2) ($table_of_contents_header_close_button_width / 2));

      &:hover {
        @include transform(rotate(90deg));
      }
    }
  }

  .search_link {
    width: $nav_menu_width - 40px;
    margin: 20px;
  }

  .search_link::-ms-clear {
    display: none;
  }

  .menu_contents_leaf_item[data-menu-level="2"] {
    display: none;
  }

  .menu_label,
  .menu_link {
    font-weight: 400;
    color: $text_gray;
    padding: 2px 10px;
  }

  .menu_link,
  .menu_link[data-menu-level="2"],
  .menu_label[data-menu-level="3"],
  .menu_label[data-menu-level="4"]{
    font-weight: 400;
    font-size: .9em;
  }

  .menu_link[data-menu-level="2"],
  .menu_label[data-menu-level="2"]{
    @include navHeader();
  }

  .menu_link[data-menu-level="3"],
  .menu_label[data-menu-level="3"]{
    @include navItem(40px);
  }

  .menu_node_label[data-menu-level="3"]{
    background: url('images/collapse.png') no-repeat 15px 14px;
    cursor: pointer;
  }

  .menu_link[data-menu-level="3"]:hover,
  .menu_label[data-menu-level="3"]:hover,
  .menu_contents_item.menu_selected_line > .menu_link[data-menu-level="3"] {
    @include navItemHover($primary-color, rgb(255,255,204));
  }

  .menu_contents_item[data-menu-level="3"].menu_collapsed > .menu_node_label {
    background: url('images/expand.png') no-repeat 15px 14px;
  }

  .menu_link[data-menu-level="4"],
  .menu_label[data-menu-level="4"]{
    @include navItem(60px);
    background: url('images/navArrow.png') no-repeat 15px 14px;
  }

  .menu_node_label[data-menu-level="4"]{
    background: url('images/navArrowCollapse.png') no-repeat 15px 14px;
    cursor: pointer;
  }

  .menu_link[data-menu-level="4"]:hover,
  .menu_label[data-menu-level="4"]:hover,
  .menu_contents_item.menu_selected_line > .menu_link[data-menu-level="4"] {
    @include navItemHover($darker-primary, $nav-highlight-1);
  }

  .menu_contents_item[data-menu-level="4"].menu_collapsed > .menu_node_label {
    background: url('images/navArrowExpand.png') no-repeat 15px 14px;
  }

  .menu_link[data-menu-level="5"], 
  .menu_label[data-menu-level="5"]{
    @include navItem(80px);
    background: url('images/navCircle.png') no-repeat 55px 18px;
  }

  .menu_link[data-menu-level="5"]:hover,
  .menu_label[data-menu-level="5"]:hover,
  .menu_contents_item.menu_selected_line > .menu_link[data-menu-level="5"] {
    @include navItemHover($darkest-primary, $nav-highlight-2);
  }

  .menu_contents_item[data-menu-level="2"] > hr {
    display: none;
  }

  .menu_contents[data-menu-level="3"]{
    background-color: $medium_gray;
  }

  .menu_contents[data-menu-level="4"]{
    background-color: $dark_gray;

    hr {
      border-color: $medium_gray;
    }
  }
}

#body {
  background-color: white;
}

.helpCenter {
  font-weight: 200;
  color: $red;
  font-style: italic;
}

/* Back to Top tab */

#back_to_top {
  background: rgb(247, 247, 247) url("images/scrollTopArrow.png") no-repeat scroll 90% 50%;
  border: 1px solid $text_gray;
  bottom: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 100;
  padding: 15px 50px 15px 25px;
  position: fixed;
  right: 2%;
  z-index: 1000;

  a {
    color:$darkest_gray;
  }
}

/* Layout Configs */

.middle {display:inline-block; margin-left:auto; margin-right:auto; text-align:center;}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Footer Styles */

#footer {
  text-align: center;
}

/* Grid Fix */

.two-column-grid-wide {
  @include outer-container;

  div {
    @include span-columns(6);
    @include media(max-width $small-width){
        @include span-columns(12);
      }
  }

  div:nth-child(even) {
    @include span-columns(6);
    @include omega();
    @include media(max-width $small-width){
        @include span-columns(12);
      }
  }
}

.two-column-grid-narrow {
  @extend .two-column-grid-wide;
  div {
    @include span-columns (4);
    @include shift(2);
    text-align: left;    
    @include media(max-width $small-width){
      @include shift(0);
      @include span-columns(12);
    }
  }
  div:nth-child(even){
    @include shift(0);
    @include span-columns (4);
    text-align: left;
    margin-bottom: 20px;
    @include media(max-width $small-width){
      @include shift(0);
      @include span-columns(12);
    }
  }
}

/* FSS Specific grid */

.functionality-grid {
  @extend .two-column-grid-wide;
  div {
    @include span-columns (4);
    @include shift(2);
    text-align: right;    
    @include media(max-width $small-width){
      text-align: center;
      @include shift(0);
      @include span-columns(12);
    }
  }
  div:nth-child(even){
    @include shift(0);
    @include span-columns (4);
    text-align: left;
    margin-bottom: 20px;
    @include media(max-width $small-width){
      text-align: center;
      @include shift(0);
      @include span-columns(12);
    }
  }
}

table.padded-list {
  tbody {
    tr {
      td {
        vertical-align: top;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

/* Responsive Rules */

@include media(max-width $medium-width) {
  #header {
    position: static;
    border-bottom: 1px solid $medium_gray;
  }

  #header_padding {
    display: none;
  }
}

@include media(max-width $small-width) {
  #header {
    height: $header_height + $header_bottom_height;

    #header_right {
      width: 100%;
      height: $header_bottom_height;
      margin: 0;
      border-top: 1px solid $medium_gray;

      .search_link {
        float: none;
        width: 90%;    
        @include center;
      }
    }
  }

  #header_padding {
    height: $header_height +  $header_bottom_height;    
  }
}

@include media(max-width $extra-small-width) {
  #header {
    #header_left {
      min-width: $nav_button_small_screen_width + $nav_button_shift_width + $nav_button_wedge_width;

      #nav_button {
        position: relative;
        width: $nav_button_small_screen_width;

        &:hover {
          width: $nav_button_small_screen_width + $nav_button_shift_width;
          padding-left: $nav_button_shift_width;
        }

        a {
          font-size:  12px;
          margin:     17px 0px 0px 15px;
          padding:    0px 0px 0px 30px;
        }
      }
    }

    #header_middle {
      height: $header_bottom_height;
      margin: 0;
      border-top: 1px solid $medium_gray;
      text-align: center;

      h2 {
        font-size: 18px;
        margin:    12px 0px 0px 0px;
        min-width: 106px;
      }
    }
  }

  #sidr {
    #table_of_contents_header {
      #table_of_contents_header_title {
        width: $nav_menu_small_width - (2 * $table_of_contents_header_margin) - ($table_of_contents_header_close_button_width);
      }
    }

    .search_link {
      width: $nav_menu_small_width - 40px;
    }
  }
}
