/* Presentation Module */

.red {
  color: $red;
}

.presentation_presentation {
  border-width: 1px;
  border-style: solid;
  margin: auto;
  margin-bottom: 20px;

  .presentation_step {
    opacity: 0;
  }

  .presentation_previous_input_view {
    opacity: 0;
    overflow: hidden;
  }

  .presentation_previous_input_view.presentation_visible {
    opacity: 1;
  }
}

.presentation_overlay_inset_text {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.presentation_nav_step, .presentation_nav_total {
  font-style: italic;
}

.presentation_step > input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.presentation_step.presentation_valid {
  border-color: rgba(0, 255, 0, 1);
  border-style: solid;
  border-width: 1px;
}

.presentation_step.presentation_invalid {
  border-color: rgba(255,0,0,0.5);
  border-style: solid;
  border-width: 1px;

  input {
    background-color: rgba(255,0,0,0.3);
  }
}

.presentation_input_step.introjs-showElement,
.presentation_quiz_step.introjs-showElement,
.presentation_blank_step.introjs-showElement,
.presentation_button_step.introjs-showElement {
  opacity: 1;
}

.presentation_test {
  background-color: white;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.presentation_option > input {
  margin: 10px;
}

.introjs-tooltip {
  font-family: Open Sans;
  font-size:   14px;
  line-height: 19px;

  p {
    margin: 0px 0px 20px 0px;
  }
}

.presentation_disabled {
  color: #BBBBBB;
  cursor: not-allowed;
}

.presentation_error_message {
  color: $red;
  text-align: center;
  margin-bottom: 20px;
}

.presentation_error_message:before {
  content: '';
  background: url('images/errorMessageIcon.png') no-repeat 50%;
  padding: 20px;
}

.presentation_exit {
  cursor:           pointer;
  float:            right;
  height:           10px;
  width:            10px;
  background: url('images/x-close.png') no-repeat;
  background-size: cover;

  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.presentation_exit:hover {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.presentation_nav {
  border:     1px solid #ECECEC;
  cursor:     pointer;
  height:     35px;
  margin:     auto;
  max-width:  290px;
  text-align: center;
  width:      100%;

  tr {
    background-color: white !important;
  }

  td {
    padding: 0px;
    width: 30%;
  }

  .presentation_nav_next {
    background: url('images/right-arrow-active.png') no-repeat 85% 11px;
  }

  .presentation_nav_next.presentation_disabled {
    background-image: url('images/right-arrow-inactive.png');
  }

  .presentation_nav_next.presentation_complete {
    background: none;
  }

  .presentation_nav_back {
    background: url('images/left-arrow-active.png') no-repeat 15% 11px;
  }

  .presentation_nav_back.presentation_disabled {
    background-image: url('images/left-arrow-inactive.png');
  }

  .presentation_nav_step {
    width: 35px
  }

  .presentation_current_step {
    background-color: #F29A2F;
    color: white;
  }
}


.presentation_audio_toggle {
  font-size: 14px;
  margin: auto;
  padding: 10px;
  width: 275px;

  .presentation_audio_toggle_label {
    color: #333333;
    padding-right: 10px; 
  }
  
  .presentation_audio_toggle_input:checked ~ .presentation_audio_toggle_on { 
    color: #84c7c1;
  }
}

.presentation_button_step {
  cursor: pointer;
}
