/* Helpfulness Voting System */

.rate {
  padding: 1em;
  width: 100%;
  text-align: right;

  @include media(max-width $small-width){
    text-align: left;
  }
}

.rate_vote {
  display: inline-block;
  min-width: 150px;
}

@mixin rate_vote {
  cursor: pointer;
  padding-left: 30px;
  padding-right: 0.5em;
  background-position: 10px 0px;
  background-repeat: no-repeat;
}

.rate_up_vote {
  @include rate_vote;
  background-image: url("images/upVote.png");
}

.rate_down_vote {
  @include rate_vote;
  background-image: url("images/downVote.png");
}
