/* Search Module */

.search_page {
  padding: 0px 5% 2% 5%;
}

.search_link {  
  background: white;
  border: 1px solid $primary-color;
  height: 35px;
  width: 250px;
}

.search_form {
  background: white;
  border: 1px solid $primary-color;
  height: 2.5em;
  max-width: 600px;
  width: 80%;
}

.search_input {
  border: none;
  float: left;
  height: 100%;
  outline: 0px;
  padding-left: 8px; 
  width: 80%;
}

.search_button {
  background: $primary-color url("images/searchIcon.png") no-repeat;
  background-position: 50% 50%;
  float: right;
  height: 100%;
  width: 20%;
  max-width: 35px;
}

.search_button:hover{
  cursor: pointer;
}

ol.search_results {
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter;
  li {
    list-style-type: none;
    list-style-image: none;
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 2em;
    border-left: 2px solid #cccccc;
  }
  li:before {
    position: absolute;
    top: 0;
    left: -1.5em;
    width: 0.8em;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
  }
}

.search_form_block {
  display: none;
}

.search_results_block {
  display: none;
}

.search_loading {
  width: 100%;
  min-height: 50px;
  background-image: url('images/bx_loader.gif');
  background-repeat: no-repeat;
  background-position: 50%;
  color: transparent;
}
