<div class="bxslider_block">
  <ul class="bxslider">
    <li>
      <div id="slideOne" class="banner">
        <div class="banner-header">
          <h1>Welcome to the eOffer/eMod Help Center</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/pete.png"/>
            </div>
            <div class="banner-body-text">
              <p>Hi, I'm Pete!</p>
              <p>Let me help you find the answers to all your questions about eOffer/eMod!</p>
              <p>Take a look at the most frequently asked look at the FAQ.</p>
              <a type="button" name="button" href="index.html#article_article_page/additions-002" class="core_link_block bannerButton"  target="_blank">View the Online User Guide Intro</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideTwo" class="banner">
        <div class="banner-header">
          <h1>Explore the new Formatted Product Tool (FPT) process!</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/slideTwoIcon.png"></img>
            </div>
            <div class="banner-body-text">
              <p>GSA has streamlined the way you enter product into eOffer/eMod!</p>
              <p>We have new interactive training and user guide updates to teach you all about it.</p>
              <a type="button" name="button" href="index.html#article_article_page/additions-009" class="core_link_block bannerButton" target="_blank">Learn about the Formatted Product Tool (FPT) tool</a>                                                                              
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideThree" class="banner">
        <div class="banner-header">
          <h1>February 2016 Update - See what's new!</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/slideRefreshIcon.png"></img>
            </div>
            <div class="banner-body-text">
              <p>GSA has released the latest updates to eOffer/eMod.</p>
              <p>The recent changes will impact the way you interact with the system.</p>
              <p>Read more about the impact.</p>
              <a type="button" name="button" href="index.html#article_article_page/additions-008" class="core_link_block bannerButton" target="_blank">View the February 2016 Update</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
