<div id="header">
  <div id="header_left">
    <div id="nav_button">
      <a class="sidr_block" href="#sidr">Table of Contents</a>
    </div>
    <div id="nav_button_wedge"/>
  </div>
  <div id="header_middle">
    <h2>
      <span class='menu_node_link_block'>
        <span class='menu_id'>book</span>
        <span class='menu_node_id'>book_book_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod</span>
      </span>
    </h2>
  </div>
  <div id="header_right">
    <div class='search_link_block clearfix'>search/search//0/20</div>
  </div>
</div>
