<div id='sidr' class='sidr left'>
  <div>
    <div id="table_of_contents_header" class="menu_label" data-menu-level="2">
      <div id="table_of_contents_header_title">
        <h3>Table of Contents</h3>
      </div>
      <a href="#sidr" id="table_of_contents_header_close_button" class="sidr_block"></a>
    </div>
    <div class='search_link_block'>search/search//0/20</div>
  </div>
  <div class="select_current_id_block" data-select-page-id-pattern="article_article_page|search_page_block|modules%2Fbook%2Fdatabase.xml/eoffer_emod(/.*)?$">
    <div class='menu_contents_block'>
      <div class='menu_id'>book</div>
      <div class='menu_node_id'>book_book_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod</div>
      <div class='menu_num_columns'>1</div>
      <div class='menu_max_level'>100</div>
      <div class='menu_expand_level'>2</div>
      <div class='menu_expandable'>true</div>
      <div class='menu_selected_element_id'><span class='core_id_block'/></div>
    </div>
  </div>
</div>
