<div class="bxslider_block">
  <ul class="bxslider">
    <li>
      <div id="slideOne" class="banner">
        <h1>Welcome to the eOffer/eMod Help Center</h1>
        <div class="middle">
          <img class="slide-icon" src="images/pete.png"/>
          <div class="bannerText">
            <p>Hi, I'm Pete!</p>
            <p>Let me help you find the answers to all your questions about eOffer/eMod!</p>
            <p>Take a look at the most frequently asked look at the FAQ.</p>
            <a type="button" name="button" href="index.html#article_article_page/additions-002" class="core_link_block bannerButton"  target="_blank">View the Online User Guide Intro</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideTwo" class="banner">
        <h1>February 2016 Update &ndash; See what's new!</h1>
        <div class="middle">
          <img class="slide-icon" src="images/slideTwoIcon.png"></img>
          <div class="bannerText">
            <p>GSA has released the latest updates to eOffer/eMod.</p>
            <p>The recent changes will impact the way you interact with the system.</p>
            <p>Read more about the impact.</p>
            <a type="button" name="button" href="index.html#article_article_page/additions-008" class="core_link_block bannerButton" target="_blank">View the February 2016 Update</a>                                                                              
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideThree" class="banner">
        <h1>Subcontracting Plan Utility &ndash; Learn more!</h1>
        <div class="middle">
          <img class="slide-icon" src="images/slideThreeIcon.png"></img>
          <div class="bannerText">
            <p>Did you know the useful utility to help put together a subcontracting plan?</p>
            <p>A clear understanding of the tool works is critical.</p>
            <p>Learn everything there is to know.</p>
            <a type="button" name="button" href="index.html#book_page_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod/eoffer-resources/preparing-your-electronic-contract-offer-eoffer/subcontracting-plan" class="core_link_block bannerButton">Learn the Subcontracting Plan Utilitiy</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
