<div class="bxslider_block">
  <ul class="bxslider">
    <li>
      <div id="slideOne" class="banner">
        <div class="banner-header">
          <h1>Welcome to the eOffer/eMod Help Center</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/pete.png"/>
            </div>
            <div class="banner-body-text">
              <p>Hi, I'm Pete!</p>
              <p>Let me help you find the answers to all your questions about eOffer/eMod!</p>
              <p>Take a look at the most frequently asked look at the FAQ.</p>
              <a type="button" name="button" href="index.html#article_article_page/additions-002" class="core_link_block bannerButton">View the Online User Guide Intro</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideTwo" class="banner">
        <div class="banner-header">
          <h1>MAS Consolidation Phase 2 is coming to eOffer/eMod</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/slideIcon-stopwatch.png"></img>
            </div>
            <div class="banner-body-text">
              <p>GSA is implementing Phase 2 of consolidated</p>
              <p>scheduling as a part of MAS Consolidation.</p>
              <p>These changes will impact the way you interact with the system</p>
              <a type="button" name="button" href="index.html#article_article_page/additions-005" class="core_link_block bannerButton">Read a summary of changes</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideThree" class="banner">
        <div class="banner-header">
          <h1>FedBizOpps has moved sites</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/slideRefreshIcon.png"></img>
            </div>
            <div class="banner-body-text">
              <p>Effective November 12th, FBO.gov is retired.</p>
              <p>Beta.SAM.gov is now the authoritative source for Contract Opportunities.</p>
              <p>Read more about the impact.</p>
              <a type="button" name="button" href="index.html#article_article_page/additions-003" class="core_link_block bannerButton">View the FBO Update</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideFour" class="banner">
        <div class="banner-header">
          <h1>Error Message Glossary - Read More</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/slideFourIcon.png"></img>
            </div>
            <div class="banner-body-text">
              <p>We have added a glossary of the most common error messages</p>
              <p>You can locate the glossary in the <em>Utilities</em> section</p>
              <a type="button" name="button" href="index.html#book_page_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod/utilities/error-message-glossary" class="core_link_block bannerButton">Review the Error Message Glossary</a>  
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="slideFive" class="banner">
        <div class="banner-header">
          <h1>Change of Name Agreement</h1>
        </div>
        <div class="banner-body">
          <div class="banner-body-content">
            <div class="banner-body-icon">
              <img class="slide-icon" src="images/slideFourIcon.png"></img>
            </div>
            <div class="banner-body-text">
              <p>We have added additional guidance for a Change of Name Agreement Modification</p>
              <p>There are several important steps that need to be taken in a 
                <br/>particular order to properly submit a Change of Name Agreement Modification.</p>
              <p>You can locate the guidance on the <em>Change of Name Agreement Modification page</em> section</p>
              <a type="button" name="button" href="index.html#book_page_page/modules%2Fbook%2Fdatabase.xml/eoffer_emod/emod-resources/modtypes/legal-modifications/change-of-name-agreement-modification" class="core_link_block bannerButton">Review the Change of Name Agreement eMod</a> 
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>