<div class="embedded_video">
  <div class="embedded_video_player_section">
    <div class="video_library_player_block">
      <div class="video_library_player_id">
        <div class="embedded_video_player_id_block"/>
      </div>
      <div class="video_library_default_video_id">
        <div class="embedded_video_video_id_block"/>
      </div>
    </div>
  </div>
  <div class="embedded_video_transcript_section">
    <div class="embedded_video_transcript_section_header">
      <h3 class="embedded_video_transcript_section_header_title">Transcript</h3>
    </div>
    <div class="embedded_video_transcript_section_body">
      <div class="video_library_transcript_block">
        <div class="video_library_player_id">
          <div class="embedded_video_player_id_block"/>
        </div>
        <div class="video_library_library_id">
          <div class="embedded_video_video_id_block"/>
        </div>
      </div>
    </div>
  </div>
</div>