<div class="feedback">
  <form class="form_form feedback_form">
    <div class="form_form_section">
      <div class="form_form_section_header">
      </div>
      <div class="form_form_section_body">
        <h1 class="feedback_title">Thank You!</h1>
        <p class="feedback_intro">Thank you for taking a moment to make the AM Systems Support guides better. We appreciate your feedback.</p>
        <div class="curly_block">
          <input type="hidden" name="entry.621535936" value="{{curly.id}}"></input>
        </div>
        <p class="feedback_prompt">Which of the following best describe your problem?</p>
        <div class="form_honeypot_block">entry.0000000</div>
        <select class="feedback_input feedback_category_input" name="entry.566481996">
          <option>The user guide failed to load, crashed, or is lagging.</option>
          <option>The information presented is incorrect, outdated, or incomplete.</option>
          <option>I cannot find the information that I am looking for, the site is poorly organized.</option>
        </select>
      </div>
      <div class="form_form_section_footer">
        <div class="form_next feedback_button">Continue</div>
      </div>
    </div>
    <div class="form_form_section">
      <div class="form_form_section_header">
        <div class="form_prev feedback_button">Back</div>
      </div>
      <div class="form_form_section_body">
        <p class="feedback_prompt">Can you provide us with more information?</p>
        <textarea class="feedback_input feedback_details_input" name="entry.1740343586"></textarea>
      </div>
      <div class="form_form_section_footer">
        <button type=submit class="form_next feedback_button">Send</button>
      </div>
    </div>
    <div class="form_form_section">
      <div class="form_form_section_header">
      </div>
      <div class="form_form_section_body">
        <h1>Thank You!</h1>
        <p>Thanks again for helping to make AM System Support better.</p>
      </div>
      <div class="form_form_section_footer">
      </div>
    </div>
  </form>
</div>
