<div class="feedback">
  <form class="form_form feedback_form">
    <div class="curly_block">
      <button type=submit class="form_hidden form_next feedback_button">Send</button>
    </div>
    <div class="form_form_section">
      <div class="form_form_section_header">
      </div>
      <div class="form_form_section_body">
        <p class="feedback_prompt">Name:</p>
        <input type="text" class="feedback_input feedback_details_input" name="entry.744540677"></input>
        <p class="feedback-prompt">Email:</p>
        <input type="text" class="feedback_input feedback_details_input" name="entry.1036258943"></input>
        <p class="feedback-prompt">Reason:</p>
        <div class="form_radio_block">
          <div class="entity_id">entry.1114321430</div>
          <div class="options">[
            {
              "label": "Discuss Job Offer",
              "value": "Hire Me"
            },
            {
              "label": "Other",
              "value": "Other"
            }
          ]</div>
        </div>
        <p class="feedback_prompt">Message:</p>
        <textarea class="feedback_input feedback_details_input" name="entry.1803104456"></textarea>
      </div>
      <div class="form_form_section_footer">
        <div class="form_button form_submit form_submit_button"
          data-form-target-section="thanks"
        >Submit</div>
      </div>
    </div>
    <div class="form_form_section" data-form-section-id="thanks">
      <div class="form_form_section_header">
        <h1 class="feedback_title">Thank You!</h1>
        <p>We'll be in touch.</p>
      </div>
    </div>
  </form>
</div>
