<?xml version="1.0" encoding="utf-8"?>
<database>
  <index>
    <name>search</name>
    <lunrIndexURL>data/indices/search_index.json</lunrIndexURL>
    <setIds>
      <setId>book_search_source/data%2Fbooks.xml</setId>
      <setId>video_library_search_source/eoffer</setId>
      <setId>video_library_search_source/emod</setId>
    </setIds>
  </index>
  <index>
    <name>video_search</name>
    <lunrIndexURL>data/indices/videos_index.json</lunrIndexURL>
    <setIds>
      <setId>video_library_search_source/eoffer</setId>
      <setId>video_library_search_source/emod</setId>
    </setIds>
  </index>
</database>
