<div id="video_content">
  <div class="video_library_header">
    <h2>Now Playing: <span class="video_library_title_block">
      <span class="video_library_player_id">video</span>
      <span class="video_library_library_id"><span class='core_id_block'/></span>
    </span></h2>
  </div>
  <div class="video_library_player_block">
    <div class="video_library_player_id">video</div>
    <div class="video_library_default_video_id"><span class='core_id_block'/></div>
  </div>
  <div class="video_library">
    <div class="video_library_tabs">
      <div class="menu_contents_block">
        <div class="menu_id">video_library</div>
        <div class="menu_node_id">video_library_page/example_library</div>
        <div class="menu_num_columns">1</div>
        <div class="menu_max_level">1</div>
        <div class="menu_expand_level">1</div>
        <div class="menu_expandable">true</div>
        <div class="menu_selected_element_id"><span class="core_id_block"/></div>
      </div>
    </div>
    <div class="video_library_right">
      <div class="video_library_right_header">
        <div class="video_library_transcript_tab" onclick="$('.video_library_transcript_tab').addClass ('video_library_selected'); $('.video_library_description_tab').removeClass ('video_library_selected'); $('.video_library_video_description').hide (); $('.video_library_transcript').show ();">Transcript</div>
        <div class="video_library_description_tab video_library_selected" onclick="$('.video_library_transcript_tab').removeClass ('video_library_selected'); $('.video_library_description_tab').addClass ('video_library_selected'); $('.video_library_video_description').show (); $('.video_library_transcript').hide ();">Chapter Details</div>
      </div>
      <div class="video_library_right_body">
        <div class="video_library_description_block">
          <div class="video_library_player_id">video</div>
          <div class="video_library_library_id"><span class='core_id_block'/></div>
        </div>
        <div class="video_library_transcript_block">
          <div class="video_library_player_id">video</div>
          <div class="video_library_library_id"><span class='core_id_block'/></div>
        </div>
      </div>
    </div>
    <div class="video_library_left">
      <div class="video_library_left_header">
        <div class='search_link_block'>search/video_search//0/20</div>
        <a class="video_library_expand_tab" onclick="$('.video_library .menu_contents[data-menu-level=\'3\']').slideDown (); $('.video_library .menu_collapsed').removeClass ('menu_collapsed');">Expand all</a>
        <span class="video_library_expand_collapse_divider">|</span>
        <a class="video_library_collapse_tab" onclick="$('.video_library .menu_contents[data-menu-level=\'3\']').slideUp (); $('.video_library .menu_node_contents_item').addClass ('menu_collapsed');">Collapse all</a>
      </div>
      <div class="video_library_left_body">
        <div class="menu_contents_block">
          <div class="menu_id">video_library</div>
          <div class="menu_node_id">video_library_page/example_library</div>
          <div class="menu_num_columns">1</div>
          <div class="menu_max_level">100</div>
          <div class="menu_expand_level">1</div>
          <div class="menu_expandable">true</div>
          <div class="menu_selected_element_id"><span class="core_id_block"/></div>
        </div>
      </div>
    </div>
  </div>
</div>
