<div>
  <div id='page_title'>
    <hr/>
    <h3>
      <span class='menu_leaf_label_block'>
        <span class='menu_id'>book</span>
        <span class='menu_leaf_id'><span class='core_id_block'/></span>
      </span>
    </h3>
    <hr/>
  </div>
  <div class='book_body_block'><span class='core_id_block'/></div>
  <div class='page_footer'>
    <div class="feedback_container">
      <div class="form_block">feedback_form</div>
    </div>
    <hr/>
    <div class="leaf_nav">
      <div class="previous_lesson">
        <div class="menu_leaf_previous_link_block">
          <span class='menu_id'>book</span>
          <span class='menu_leaf_id'><span class="core_id_block"/></span>
        </div>
      </div>
      <div class="next_lesson">
        <div class="menu_leaf_next_link_block">
          <span class='menu_id'>book</span>
          <span class='menu_leaf_id'><span class="core_id_block"/></span>
        </div>
      </div>
    </div>
  </div>
</div>
